<form action ="/teams" method="post">
  <input name = "team[name]" placeholder="Team Name"/>
  <input name = "team[motto]" placeholder="Team Motto"/>

  <input name = "team[members][][name]" placeholder="Hero Name"/>
  <input name = "team[members][][power]" placeholder="Hero Power"/>
  <input name = "team[members][][biography]" placeholder="Hero Bio"/>

  <input name = "team[members][][name]" placeholder="Hero Name"/>
  <input name = "team[members][][power]" placeholder="Hero Power"/>
  <input name = "team[members][][biography]" placeholder="Hero Bio"/>

  <input name = "team[members][][name]" placeholder="Hero Name"/>
  <input name = "team[members][][power]" placeholder="Hero Power"/>
  <input name = "team[members][][biography]" placeholder="Hero Bio"/>

  <input type = "submit"/>

</form>
